<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menu-button">
      <ion-icon name="menu"></ion-icon>
    </button>  	
    <ion-title>
      <img class="logo-header" alt="logo" height="40"   src="../assets/imgs/logo-header.png" > 
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="add-button" style="visibility: hidden;">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="ion-content">
  <div class="title-gallery">
    {{ "gallery_image" | translate}}
  </div>
  <ion-list class="list-gallery">
    <ion-row>
      <ion-item col-6 *ngFor="let post of galleries">
        <div class="item-gallery" (click)="showDetail(post)">
          <img [src]="ApiRouter + post.image.path" />
          <div class="title">{{post.title}}</div>
        </div>
      </ion-item>
    </ion-row>
  </ion-list>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="moredata">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
 </ion-infinite-scroll>  


</ion-content>
<img class="font-bg-gallery" src="../assets/imgs/footer-gallery.png">